<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Edit <%=artwork.title%></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="main-container4">
        <div class="edit-artwork-container">
            <h1> Edit <%=artwork.title%> </h1>
            <form class="form-edit" action="/artworks/<%=artwork._id%>?_method=PUT" method="POST">
                <div class="form-item">
                    <label for="title">Artwork Title:</label>
                    <input class="edit-input" name="title" id="title" value="<%=artwork.title%>" required>
                </div>
                <div class="form-item">
                    <label for="imageUrl">Artwork Imagen URL:</label>
                    <input class="edit-input" name="imageUrl" id="imageUrl" value="<%=artwork.imageUrl%>" required>
                    
                </div>

                <div class="form-item">
                    <label for="artType"> Artwork Type:</label>
                    <select class="edit-input" name="artType" id="artType" >
                        <%ART_TYPES.forEach((type) =>{%>
                            <option 
                                value="<%=type%>"
                                <%=type === artwork.artType ? 'selected': ''%> > 
                                
                                <%=type%>
                            
                            </option>
                        <%})%>
            
                    </select>
                </div>

                <div class="form-item">
                    <label for= "description">Artwork Description:</label>
                    <textarea class="textarea" name="description" id="description"><%=artwork.description%></textarea>
                </div>
                <button class="btn-edit" type="submit"> Edit Artwork</button>
        
            </form>

        </div>
        
    </div>
    
</body>
</html>