<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Explore the artwork of our community </h1>
    <%if(artworks.length === 0){%>
        <%if(search){%>
            <p>There are no artworks that match your filter. Be the first to create one.</p>
        <%}else{%>
            <p>There are no artworks yet, be the first to share your artwork.</p>
        <%}%>
        <a href="/artworks/new"> Create Artwork</a>
        
    <%}else{%>

        <p>Filter artworks by type:</p>
        <form action="/artworks/search" method="GET">
            <%ART_TYPES.forEach((type,index)=>{%>
                
                <input type="checkbox" id="cbox<%=index+1%>" name="type" value="<%=type%>">
                <label for="cbox<%=index+1%>"><%=type%></label>
            <%})%>
            <button type="submit">Filter</button>
        </form>
        <%if(search){%>
            <p>Filters:</p>
            <%types.forEach((type)=>{%>
                <p><%=type%></p>
            <%})%>

            <form action="/artworks/explore" method="GET">
                <button> Clear Filter</button>
            </form>

        <%}%>
        
        <%artworks.forEach((artwork)=>{%>
            <div>
                <a href="/users/<%=artwork.owner._id%>"><p><%=artwork.owner.username%></p></a>
                <img src="<%=artwork.imageUrl%>">
                <p><%=artwork.comments.length%> comments</p>
                <p><%=artwork.likes.length%> likes</p>
                <%if(artwork.likes.some((userId) => userId.toString() === user._id.toString())){%>
                    <p>You've like this artwork</p>
                    
                    <form action="/artworks/<%=artwork._id%>/like?redirect=explore&_method=DELETE" method="POST">
                        <button type="submit">Unlike</button>
                    </form>
                    
                <%}else{%>
                    <form action="/artworks/<%=artwork._id%>/like?redirect=explore" method="POST">
                        <button>Like</button>
                    </form>
                <%}%>
            </div>

        <%})%>
    <%}%>
</body>
</html>

