<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Explore the artwork of our community </h1>
    <%if(allUserArtworks.length === 0){%>
        <p>There are no artworks yet, be the first to share your artwork</p>
        <a href="/artworks/new"> Create Artwork</a>
    <%}else{%>
        <%allUserArtworks.forEach((artwork)=>{%>
            <div>
                <a href="/users/<%=artwork.owner._id%>"><p><%=artwork.owner.username%></p></a>
                <img src="<%=artwork.imageUrl%>">
                <p><%=artwork.comments.length%> comments</p>
                <p><%=artwork.likes.length%> likes</p>
                <%if(artwork.likes.some((userId) => userId.toString() === user._id.toString())){%>
                    
                <%}else{%>
                    <form action="/artworks/<%=artwork._id%>/like" method="POST">
                        <button>Like</button>
                    </form>
                <%}%>
            </div>

        <%})%>
    <%}%>
</body>
</html>

