<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Artworks</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to My Artworks</h1>
    
    <a href="/artworks/new"> Add New Artwork</a>
    <%if(artworks.length === 0){%>
    
        <p>You have not created any artwork yet</p>

    <%}else{%>
        <ul>
            <%artworks.forEach((artwork)=>{%>
                <li><a href="artworks/<%=artwork._id%>"><%=artwork.title%></a></li>
                <% if(artwork.owner.toString() === currentUser._id.toString()){%>
                    <p><%=artwork.comments.length%> comments</p>
                    <p><%=artwork.likes.length%> likes</p>
                     <%if(artwork.likes.some((userId) => userId.toString() === user._id.toString())){%>
                        <p>You've like this artwork</p>
                    
                        <form action="/artworks/<%=artwork._id%>/like?_method=DELETE" method="POST">
                            <button type="submit">Unlike</button>
                        </form>
                    <%}else{%>
                        <form action="/artworks/<%=artwork._id%>/like" method="POST">
                            <button>Like</button>
                        </form>
                    <%}%>

                    <a href="/artworks/<%=artwork._id%>/edit">Edit Artwork</a>
                    <form action="/artworks/<%=artwork._id%>?_method=DELETE" method="POST">
                        <button type="submit">Delete Artwork</button>
                    </form>
                <%}%>
            <%})%>
        </ul>
    <%}%>
</body>
</html>