<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>My Artworks</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="main-container">
        <div class="info-user-container">

            <div>
                <h1 class="avatar"><%= user.username[0].toUpperCase() %></h1>
                <h1><%=user.username%></h1>
            </div>
            <div class="flex">
                <h4><%=followers.length%> Followers</h4>
                <h4><%=following.length%> Following</h4>
            </div>
        </div>
        
        <%if(artworks.length === 0){%>
        
            <p>You have not created any artwork yet</p>
    
        <%}else{%>
            <div class="flex">
                <h2> My Artworks </h2>
                <a class="a-new-artwork" href="/artworks/new"> Add New Artwork</a>
            </div>
            
            <div class="artworks-container">
                
                <%artworks.forEach((artwork)=>{%>
                    <div class="card-container">
                        <div class="actions">
                            <div>
                                <p><%=artwork.title%></p>
                            </div>
                            
                            <div>
                                <%if(artwork.likes.some((userId) => userId.toString() === user._id.toString())){%>
                               
                                   <form action="/artworks/<%=artwork._id%>/like?redirect=artworks&_method=DELETE" method="POST">
                                       <button class="btn-like" type="submit">Unlike</button>
                                   </form>
                               <%}else{%>
                                   <form action="/artworks/<%=artwork._id%>/like?redirect=artworks" method="POST">
                                       <button class="btn-like">Like</button>
                                   </form>
                               <%}%>

                            </div>

                        </div>
                        <a href="artworks/<%=artwork._id%>"><img class="img-artwork" src="<%=artwork.imageUrl%>"></a>
                        <% if(artwork.owner.toString() === user._id.toString()){%>
                            <div class="actions">
                                <p><%=artwork.comments.length%> comments</p>
                                <p><%=artwork.likes.length%> likes</p>
                                <div class="actions">
                                    <a class="a-edit" href="/artworks/<%=artwork._id%>/edit">Edit </a>
                                    <form action="/artworks/<%=artwork._id%>?_method=DELETE" method="POST">
                                        <button class="btn-delete" type="submit">Delete</button>
                                    </form>

                                </div>
                            </div>    

                        <%}%>
                    </div>
                <%})%>
            </div>
            
        <%}%>
    </div>
</body>
</html>