<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=artwork.title%></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h2><%=artwork.title%></h2>
    <img src ="<%=artwork.imageUrl%>">
    <p><%=artwork.artType%></p>
    <p><%=artwork.description%></p>
    
    <a href="/artworks/<%=artwork._id%>/edit">Edit Artwork</a>
    <form action="/:artworkId?method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

</body>
</html>