<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=artwork.title%></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h2><%=artwork.title%></h2>
    <img src ="<%=artwork.imageUrl%>">
    <p><%=artwork.artType%></p>
    <p><%=artwork.description%></p>
    <p><%=artwork.comments.length%> comments</p>
    <p><%=artwork.likes.length%> likes</p>

    <%if(userHasLiked){%>
                    
    <%}else{%>
        <form action="/artworks/<%=artwork._id%>/like" method="POST">
            <button>Like</button>
        </form>
    <%}%>
    
    <% if(artwork.owner.toString() === user._id.toString()){%>
        <a href="/artworks/<%=artwork._id%>/edit">Edit Artwork</a>
        <form action="/artworks/<%=artwork._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    <%}%>
        
    <div>
        <form action="/artworks/<%=artwork._id%>/comment" method="POST">
            <label for="comment">Share your comment</label>
            <textarea name="comment" id="comment" required></textarea>
            <button type="submit">Create comment</button>

        </form>
        
    </div>
    <div>
        <%if(artwork.comments.length==0){%>
            <p>No comments yet, be the first to comment</p>
        <%}else{%>
            <%artwork.comments.forEach((comment)=>{%>
                <h3><%=comment.owner.username%></h3>
                <p><%=timeAgo(comment.createdAt)%></p>
                <%if(editComment && editComment === comment._id.toString() && comment.owner._id.toString()=== user._id){%>
                    <form action="/artworks/<%=artwork._id%>/comment/<%=comment._id%>?_method=PUT" method="POST">
                        <textarea name="comment" required> <%=comment.description%></textarea>
                        <button type="submit">Save</button>
                    </form>
                <%}else{%>
                    <p><%=comment.description%></p>
                <%}%>  

                <%if(comment.owner._id.toString() === user._id.toString()){%>
                    <a href="/artworks/<%=artwork._id%>?editComment=<%=comment._id%>">Edit comment</a>
                    <form action="/artworks/<%=artwork._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                        <button type="submit"> Delete</button>
                    </form>
                <%}%>
            <%})%>  
        <%}%>
    </div>



</body>
</html>