<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=artwork.title%></title>
</head>
<body>
    <h2><%=artwork.title%></h2>
    <img src ="<%=artwork.imageUrl%>">
    <p><%=artwork.artType%></p>
    <p><%=artwork.description%></p>

</body>
</html>