<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>My Inspirations</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="main-container">
        
        <h3>My Inspirations</h3>
        <%if(inspirations.length===0){%>
            <div class="no-yet">
                <p> No inspirations yet.</p>
                <p>Discover new sources of inspiration</p>
                <a class="a-no-yet" href="/artworks/explore">Explore now</a>
            </div>
    
        <%}else{%>
            <div class="artworks-container">
                <%inspirations.forEach((inspiration)=>{%>
                    <div class="card-container">
                        <div class="actions">
                            <div>
                                <p class="a-username"><%=inspiration.owner.username%></p>
        
                            </div>
                            <%if(inspirationIds.length>0 && inspirationIds.includes((inspiration._id).toString())){%>
                                    <form action="/users/<%=inspiration._id%>?_method=DELETE" method="POST">
                                        <button class="btn-save" type="submit">Unsave</button>
                                    </form>
                
                            <%}else{%>
                                <form action="/users/<%=inspiration._id%>" method="POST">
                                    <button class="btn-save" type="submit">Save</button>
                                </form>
                            <%}%>

                        </div>
                        
                        <img class="img-artwork" src="<%=inspiration.imageUrl%>">
                        <div class="actions">
                            <p><%=inspiration.likes.length%> Likes</p>
                            <p><%=inspiration.comments.length%> Comments</p>
    
                        </div>
                    </div>
                <%})%>

            </div>
        <%}%>
    </div>


    
</body>
</html>